# Sphinx build output
_build/
docs_build/
!_build/html/api/ros2/
cross_reference/


# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# ROS 2 build artifacts
build/
install/
log/

# OS
.DS_Store
Thumbs.db